# Web Server & Framework
flask
gunicorn

# Database & Integration
pymongo
mongoengine
certifi

# Authentication & Utilities
Authlib
python-dotenv
requests
flask-sse
# Google ADK & MCP Integration
# google-adk
toolbox-core
# mcp

# Media Hosting
cloudinary
mongoengine-stubs
stripe
pydantic
resend
redis
mdtopptx
python-pptx
mailjet-rest
dnspython
gevent
# Core Agent Framework
google-adk[extensions]
google-genai
# Local Model Integration (Pinned for security/compatibility)
litellm
mcp
dnspython
instructor

langgraph
langchain-core
langchain-groq
celery
flask_limiter
Flask-APScheduler
semantic-kernel
grpcio
grpcio-tools
Flask-Cors
PyJWT
sentence-transformers
debugpy
